.text:select{
    color: white;
    background-color: white;
}

html{
    width: 1440px;
}


*{
    font-size: 16px;
}

body{
    width: 1440px;
    background-color: #FAFFF4;
}

.container{
    height: 3000px;
}

.purple{
    width: 600px;
    height: 100%;
    transform: translatey(-1400px);
    display: inline-block;
    border-bottom-left-radius: 800px;
    border-bottom-right-radius: 800px;
    background-image: linear-gradient(180deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}

.mobile{
    width: 400px;
    display: inline-block;
    transform: translatey(-1550px);
    height: 850px;
    margin-top: 5px;
    margin-left: -120px;
    border-radius: 30px;
    border: white solid 20px;
    background-color: hsl(270, 20%, 96%);
}

.header{
    color: #FFFFFF;
    width: 101%;
    margin-top: 0px;
    border-radius: 20px;
    height: 90px;
    background-image: linear-gradient(90deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));;
    opacity: ;
}

.header button{
    background-color: inherit;
    font-size: 40px;
    border: transparent;
    color: white;
}

.header h2{
    opacity: 0.7;
}

.header > img{
    transform: translatey(15px);
    width: 50px;
    display: inline;
    height: 50px;
    border-radius: 50%;
}

.camera{
    width: 170px;
    height: 30px;
    position: absolute;
    background-color: white;
    transform: translatey(-3px) translatex(70%);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.ahh{
    display: inline;
}

.ahh *{
    display: inline;
}

.ava{
    margin-left: 100px;
}

.left-top > p{
    width: 40%;
    padding-right: 40px;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 20px;
    border-bottom-left-radius: 0%;
    color: hsl(276, 55%, 52%);
    background-color: #E5E5E5;
}

.dog{
    
}

.mobile img{
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;
    height: 60px;
}

.right{
    direction: rtl;
}

.right > p{
    color: hsl(271, 15%, 43%);
    width: 40%;
    padding-left: 40px;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border-bottom-right-radius: 0%;
    background-color: white;
}

.left-bottom > p{
    width: 40%;
    padding-right: 40px;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 20px;
    border-bottom-left-radius: 0%;
    color: hsl(276, 55%, 52%);
    background-color: #E5E5E5;

}

label{
    color: white;
    opacity: 0.8;
}

label h2{
    margin-left: 30px;
    font-size: 25px;
    opacity: 1;
}

.two{
    margin-left: 65px;
}

.left-bottom form input{
    width: 25px;
    background-image: linear-gradient(0deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));;
    height: 25px;
}

.left-bottom  h2{
    display: inline;
}

.send{
    width: 98%;
    border-radius: 50px;
    height: 60px;
    background-color: white;
    border: transparent;
    outline: transparent;
}

.send form button{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: black;
    border: transparent;
    margin-top: 10px;
    outline: transparent;
}

.send form input{
    width: 99%;
    border-radius: 50px;
    height: 60px;
    border: transparent;
    outline: transparent;
}

.send form{
    width: 90%;
    height: 60px;
    border-radius: 50px;
}

.first,
.sec{
    width: 63%;
    height: 40px;
    background-image: linear-gradient(90deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));;
    padding: 10px;
    margin: 20px;
    color: ;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
}

.text{
    width: 400px;
    transform: translate(1000px, -2000px);
    display: inline-block;
    font-size: 40px;
    opacity: 0.9;

}

.text > h2{
    color: hsl(271, 36%, 24%);
    font-size: 3pc;
    opacity: 1.0;
}